@import "tailwindcss";



@theme inline {
  --color-primary: #610A73;
  --color-secondary: #E8B681;
  --color-accent: #F5C857;
  --color-text: #303040;
  --color-text-light: #F4F4F4;
  --color-background: #1E1E1E;
  --color-background-light: #FFE9B1;
  --color-background-dark: #323232;


  --font-geist: var(--font-geist-sans);
  --font-big-shoulders: var(--font-big-shoulders);

  --text-xxs: 0.625rem;

  /* Mobile Small (320px) */
  --breakpoint-msm: 20rem;
  /* Mobile Medium (375px) */
  --breakpoint-mmd: 23.4375rem;
  /* Mobile Large (425px) */
  --breakpoint-mlg: 26.5625rem;
  /* Laptop large (1440px) */
  --breakpoint-2xl: 90rem;

}


@layer base {
  p {
    @apply text-sm md:text-base font-geist;
  }
}

@layer components {}

@layer utilities {

  .gold-gradient {
    background: linear-gradient(180deg, #996516 0%, #FFCC00 25%, #D4AF37 50%, #B8860B 100%);
  }

  .gold-gradient-dark {
    background: linear-gradient(180deg, #665116 0%, #90791B 25%, #726023 50%, #69571D 100%);

  }



  .gold-text {
    background: linear-gradient(180deg, #996516 0%, #FFCC00 25%, #D4AF37 50%, #B8860B 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .custom-underline {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #6F6D6D;
    }
  }

  .swiper-slide {
    @apply h-auto;
  }

  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

/* Padding Utilities */
@utility fp {
  padding-left: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
  padding-right: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
  padding-top: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem);
  padding-bottom: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem);
}

@utility fpx {
  padding-left: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
  padding-right: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
}

@utility fpy {
  padding-top: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem);
  padding-bottom: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem);
}

@utility fpl {
  padding-left: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
}

@utility fpr {
  padding-right: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
}

@utility fpt {
  padding-top: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem);
}

@utility fpb {
  padding-bottom: clamp(2.5rem, 1.8929rem + 3.0357vw, 4.625rem);
}